<!DOCTYPE html>
<html lang="en" style="background-color: hsl(240, 12%, 8%)">
    {{- partial "head.html" . -}}
    <body class="">
        {{- partial "header.html" . -}}
        <div id="content">
            <script src="/js/jquery.min.js"></script>
            <script src="/js/openLight.js"></script>
            <script>
                openLight = new OpenLight("auto");
                openLight.addOverrideByClassName("mode-none");
            </script>
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "script.html" . -}}
    </body>
</html>
