{{ define "main" }}
{{ $content_parts := split .Content "-split-" }}

{{ $imageurl := print .Params.thumb }}
{{ $image := .Resources.GetMatch $imageurl }}
{{ if $image }}
    {{ $lowres := $image.Fill "1920x318 jpg q90 Lanczos Smart"}}

    <div id="single-hero" style="background-image: url('{{ $lowres.Permalink | safeHTML }}')">
    </div>

    <div id="single-hero-space"></div>
{{ end }}

<section id="single-content" class="section">
    <div id="single-header" class="container pb-6">
        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        <div class="field is-grouped is-grouped-multiline">
            <div class="category">
                {{ with .Params.categories }}
                {{ range . }}
                {{ $href := print (absURL "") (urlize .) }}
                <a class="is-size-4 link has-text-weight-bold is-lowercase" href="{{ $href }}">/{{ . }}</a>
                {{ end }}
                {{ end }}
            </div>
            <div class="tags px-4">
                {{ with .Params.tags }}
                {{ range . }}
                {{ $href := print (absURL "/t/") (urlize .) }}
                <a class="tag is-light link is-size-6 has-text-weight-bold is-lowercase" href="{{ $href }}">#{{ . }}</a>
                {{ end }}
                {{ end }}
            </div>
        </div>
        <hr>
        <p class="is-size-6 is-lowercase has-text-weight-bold" datetime="2016-1-1">{{ .PublishDate.Format $dateFormat }}</p>
        <h1 class="is-size-2 has-text-weight-bold">{{ .Title }}</h1>
        <p class="is-size-6">{{ .Summary }}</p>
    </div>

    {{ range $i, $content_split := $content_parts }}
        <div id="single-body-{{ $i }}" class="container pt-6">
            {{ $content_split | safe.HTML}}
        </div>
    {{ end }}
</section>

{{ end }}