@import "bulma/sass/utilities/_all";

$navbar-breakpoint: 0;

//$navbar-background-color: $yellow;
$shadow-box: 0px 0px 25px 0px;
$shadow-box-color: rgba($black, .25);
$navbar-height: 1.5rem;
$navbar-box-shadow-size: $shadow-box;
$navbar-box-shadow-color: $shadow-box-color;
$navbar-item-active-color: $black;
$navbar-dropdown-item-active-color: $black;
$navbar-item-hover-color: $text;
$navbar-dropdown-item-hover-color: $text;

$container-max-width: $desktop;

@import "bulma/bulma.sass";





// SITE OVERALL STUFF
body {
    visibility: hidden;
}

#content {
    /*@include mobile {
        padding: 1.5rem 1.5rem 0rem;
    }
    @include tablet-only {
        padding: 1.5rem 5rem 0rem;
    }
    @include desktop-only {
        padding: 2.5rem 11rem 0rem;
    }
    @include widescreen-only {
        padding: 2.5rem 15rem 0rem;
    }

    padding: 2.5rem 17rem 0rem;*/

    min-height: 100vh;
}





// NAVBAR
#navmain, #navmobile {
    margin: 1rem;
    border-radius: 4px
}
#navmain {
    @include touch {
        display: none !important;
    }
}
#navmobile {
    @include desktop {
        display: none !important;
    }
}

#navmenu {
    display: grid;

    grid-template: 1fr / 1fr auto 1fr;
}
.navbar-item {
    font-weight: 500;
}
.navbar-item.is-active {
    text-shadow: 0.5px 0px 0px $black, -0.5px 0px 0px $black;
    //font-style: italic;
    text-decoration: underline;
}
.navbar-item:not(.is-active):hover {
    @include desktop {
        text-shadow: 0.5px 0px 0px $text, -0.5px 0px 0px $text;
    }
}

#navbrand {
    font-weight: 900;
}

#darkmode {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: transparent !important;

    margin: 1rem
}

#darkmode a {
    border: 0;
    box-shadow: $shadow-box $shadow-box-color;
}
.darkmode-layer--simple {
    z-index: 100;
}





// HOME
#home-posts {
    @include desktop {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}
.postcard {
    @include touch {
        padding: 1rem 0.5rem;
    }
    padding: 1.5rem;
}