<div class="p-1" id="top-left">
    <a class="mode-include" href="/#home">
        <img src="/logoblack.png">
    </a>
</div>

<nav id="navmain" class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start pl-4">
            {{ range $.Site.Menus.nav }}
            <a class="navbar-item no-color is-uppercase" data-scroll href="{{ .URL | relURL }}">
                <strong>{{ .Name }}</strong>
            </a>
            {{ end }}
        </div>

        <div class="navbar-end pr-4">
            {{ range $.Site.Menus.cat }}
            <a class="navbar-item no-color is-uppercase" data-scroll href="{{ .URL | relURL }}">
                <strong>{{ .Name }}</strong>
            </a>
            {{ end }}
        </div>
    </div>
</nav>

<nav id="navmobile" class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start pr-4 navbar-item has-dropdown is-hoverable">
            <button class="navbar-link is-size-6 no-bg">
                <strong class="is-uppercase">home</strong>
            </button>

            <div class="navbar-dropdown">
                {{ range $.Site.Menus.nav }}
                <a class="navbar-item no-color is-uppercase" data-scroll href="{{ .URL | relURL }}">
                    <strong>{{ .Name }}</strong>
                </a>
                {{ end }}
            </div>
        </div>

        <div class="navbar-end pl-4 navbar-item has-dropdown is-hoverable">
            <button class="navbar-link is-size-6 no-bg">
                <strong class="is-uppercase">content</strong>
            </button>
        
            <div class="navbar-dropdown is-right">
                {{ range $.Site.Menus.cat }}
                <a class="navbar-item no-color is-uppercase" data-scroll href="{{ .URL | relURL }}">
                    <strong>{{ .Name }}</strong>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</nav>

<div id="bottom-left" class="m-4">
    <div class="dropdown is-up is-hoverable mode-none">
        <div class="dropdown-trigger">
            <button class="button is-small is-secondary" aria-haspopup="true">
                <p class="has-text-dark has-text-weight-bold">LINKS</p>
            </button>
        </div>
        <div class="dropdown-menu">
            <div class="dropdown-content column panel-block px-0">
                
                <div class="no-bg dropdown-item px-0 py-2 is-flex">
                    <div class="tags has-addons no-bg">
                        <span class="m-0 tag has-text-weight-bold is-medium is-uppercase">good luck collective</span>
                    </div>
                </div>
                
                {{ range $.Site.Menus.glc }}
                <div class="no-bg dropdown-item px-0 py-2 is-flex">
                    <div class="tags has-addons no-bg">
                        <a id="{{ with .Params.id }}{{ . }}{{ end }}" target="_blank"
                            class="m-0 link tag has-text-weight-bold is-uppercase" href="{{ .URL | relURL }}"
                            title="{{ .Params.title }}">{{ .Name }}</a>
                        <span class="m-0 tag">{{ .Params.label }}</span>
                    </div>
                </div>
                {{ end }}

                <br>

                <div class="no-bg dropdown-item px-0 py-2 is-flex">
                    <div class="tags has-addons no-bg">
                        <span class="m-0 tag has-text-weight-bold is-medium is-uppercase">dupla.tech</span>
                    </div>
                </div>
                
                {{ range $.Site.Menus.dupla }}
                <div class="no-bg dropdown-item px-0 py-2 is-flex">
                    <div class="tags has-addons no-bg">
                        <a id="{{ with .Params.id }}{{ . }}{{ end }}" target="_blank"
                            class="m-0 link tag has-text-weight-bold is-uppercase" href="{{ .URL | relURL }}"
                            title="{{ .Params.title }}">{{ .Name }}</a>
                        <span class="m-0 tag">{{ .Params.label }}</span>
                    </div>
                </div>
                {{ end }}

                <br>

                <div class="no-bg dropdown-item px-0 py-2 is-flex">
                    <div class="tags has-addons no-bg">
                        <span class="m-0 tag has-text-weight-bold is-medium is-uppercase">bykoga</span>
                    </div>
                </div>

                {{ range $.Site.Menus.bykoga }}
                    <div class="no-bg dropdown-item px-0 py-2 is-flex">
                        <div class="tags has-addons no-bg">
                            <a id="{{ with .Params.id }}{{ . }}{{ end }}" target="_blank" class="m-0 link tag has-text-weight-bold is-uppercase"
                                href="{{ .URL | relURL }}" title="{{ .Params.title }}">{{ .Name }}</a>
                            <span class="m-0 tag">{{ .Params.label }}</span>
                        </div>
                    </div>
                {{ end }}

            </div>
        </div>
    </div>

    <a id="toggle-mode" class="mode-toggle button is-small is-borderless link">
        <span class="icon is-small mode-none">
            <i class="mode-none" data-feather="moon"></i>
        </span>
    </a>
</div>