<div class="postcard-wrapper">
    <div class="home-postcard card m-3">
        <a href="{{ .Permalink }}" class="postcard-link">{{ .Title }}</a>
    
        {{ if .Params.thumb }}
        <div class="card-image">
            {{ $image := $.Page.Resources.GetMatch .Params.thumb }}
            {{ .Scratch.Set "modified-image" ($image.Resize "256x jpg q75 Lanczos Smart") }}
            {{ .Scratch.Set "lowres-image" ($image.Resize "256x jpg q10") }}
            <figure class="image">
                <img class="lazy" data-src='{{ (.Scratch.Get "modified-image").Permalink }}' src='{{ (.Scratch.Get "lowres-image").Permalink }}' alt='{{ .Params.alt }}'>
            </figure>
        </div>
        {{ end }}
    
        <div class="card-content postcard">
            <div class="media mb-3">
                <div class="media-content mb-5">
                    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
                    <p class="is-size-7 is-lowercase has-text-weight-bold" datetime="2016-1-1">{{ .PublishDate.Format $dateFormat }}</p>
                    <h1 class="is-size-5 is-italic has-text-weight-bold">{{ .Title }}</h1>
                    {{ with .Params.categories }}
                    {{ range . }}
                    {{ $href := print (absURL "") (urlize .) }}
                    <a class="postcard-cat has-text-weight-bold is-lowercase" href="{{ $href }}">#{{ . }}</a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="content">
                {{ .Summary }}
            </div>
        </div>
    </div>
</div>