{{ define "main" }}
{{ $content_parts := split .Content "-split-" }}

<!--section id="home-links" class="section">
    <div class="container">
        {{ index $content_parts 0 | safe.HTML}}
    </div>
    <div class="container pt-3">
        <div class="tags">
            <a id="itchio" class="link tag has-text-weight-bold is-lowercase" href="https://bykoga.itch.io"
                title="All of my published games!">itchio</a>
            <a id="twitter" class="link tag has-text-weight-bold is-lowercase" href="https://twitter.com/madebyKoga" title="Daily posts about my game and art projects!">twitter</a>
            <a id="instagram" class="link tag has-text-weight-bold is-lowercase" href="https://www.instagram.com/artbykoga" title="My artwork, everything art related is here!">instagram</a>
            <a id="github" class="link tag has-text-weight-bold is-lowercase" href="https://github.com/gitbykoga" title="My repositories with some useful code">github</a>
            <a id="discord" class="link tag has-text-weight-bold is-lowercase" href="https://discord.gg/WgCJjNMgVG" title="My server where we chat about a bunch of things. Come join!">discord</a>
            <a id="mail" class="link tag has-text-weight-bold is-lowercase" onClick="javascript:window.open('mailto:mailbykoga@gmail.com', 'mail');event.preventDefault()" href="mailto:mailbykoga@gmail.com" title="This link might not work!">email</a>
        </div>
    </div>
</section-->

<section id="home-recent" class="section">
    <div class="container py-4">
        {{ index $content_parts 0 | safe.HTML}}
    </div>

    <div id="grid-posts" class="pb-6">
        {{ $amount := 20 }}
        {{ range where site.RegularPages "Type" "post" | first $amount }}
        {{ partial "postcard.html" . }}
        {{ end }}
    </div>
</section>

<section id="home-about" class="section mode-none">
    <div class="container py-4">
        <div class="columns">
            <div class="column is-two-thirds">
                <!--img src="logowhite.png" alt=""-->
            </div>
            <div class="column is-one-third">
                <div class="content has-text-white">
                    {{ index $content_parts 1 | safe.HTML}}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="home-portfolio" class="section">
    <div class="container py-4">
        <div class="columns">
            <div class="column">
                <div class="content has-text-white">
                    {{ index $content_parts 2 | safe.HTML}}
                </div>
            </div>
            <div class="column">
                <!--img src="logowhite.png" alt=""-->
            </div>
        </div>
    </div>
</section>

<section id="home-contact" class="section p-0 no-bg">
    <h1 id="contact"></h1>
    <div class="typeform-widget mode-none no-bg" data-url="https://form.typeform.com/to/xx3gmnY8?typeform-medium=embed-snippet"
        data-transparency="100" data-hide-headers="true" data-hide-footer="true" style="width: 100%; height: 90vh;"></div>
    <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
</section>

{{ end }}