{{ define "main" }}
<h1 class="title">{{ .Title }}</h1>
<p>{{ .Content }}</p>
{{- range ( where site.RegularPages "Type" "page" | first 10 ) }}
<div class="card">
    <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    {{ partial "metadata.html" . }}
    <a class="summary" href="{{ .RelPermalink }}">
        <p>{{ .Summary }}</p>
    </a>
</div>
{{- end }}
{{- range ( where site.RegularPages "Type" "post" | first 10 ) }}
<div class="card">
    <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    {{ partial "metadata.html" . }}
    <a class="summary" href="{{ .RelPermalink }}">
        <p>{{ .Summary }}</p>
    </a>
</div>
{{- end }}
{{ end }}